
.font-name-rest{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    color: #FFD700;
}

.font-adress-rest{
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    color: #FFA500;
}

.info_rest{
    gap: 35px;
    
    display: flex;
    flex-direction: column;
}

.working_hours{
    font-size: 30px;
    color: #FFB6C1;
    font-weight: 900;
}

.card_dish{
    
    font-size: 25px;
    font-weight: 400;
    color: #DAA520;
    font-family: "Namdhinggo", serif;
    font-style: normal;
}

.dish_description{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: #BC8F8F;
    
}

.dish_price{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    color: #B8860B;
}