.bg_fon{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../Photo/fon.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
}



